<!DOCTYPE html>
<head>
  <title>Jedi Padawan Page</title>
</head>

<body>

<div id="page_hdr">
 <h1>Jedi Padawan Page</h1>
</div>

<div style="">
  <div style="float:left;">
    Welcome, <%= @username %>.&nbsp;&nbsp;
  </div>
  <div style="float: left;">
    <a href="/">logout</a>
  </div>
</div>

</body>
</html>