<!DOCTYPE html>
<head>
  <title>Fake School Website</title>
</head>

<body>
<form action="/" method="post">

  <h1>Fake School Website</h1>
  <h3>Please Login</h3>

  <div style="width:230px">
    <div style="float:left;">
      Userid: &nbsp;
      <br>
      Password: &nbsp;
    </div>
    <div style="float: right;">
      <input type="text" name="userid">
      <br>
      <input type="password" name="password">
      <br>
      <input type="submit" value="Login" name="submit">
    </div>
  </div>
</form>
</body>
</html>