<!DOCTYPE html>
<head>
  <title>Login page</title>
</head>

<body>
<form action="/" method="post">

  <h1>Please login</h1>
  <div style="width:230px">
    <div style="float:left;">
      Userid: &nbsp;
      <br>
      Password: &nbsp;
    </div>
    <div style="float: right;">
      <input type="text" name="userid">
      <br>
      <input type="password" name="password">
      <br>
      <button type="submit" name="submit_btn">Login</button>
    </div>
  </div>
</form>
</body>
</html>